name: Publish Latest

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: housing-data-api
  IMAGE_TAG: latest
  

jobs:
  build-and-push-image:
    runs-on: self-hosted # running on local server

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10.13"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # Set up tests
      # - name: Run Tests
      #   run: |
      #     cd src
      #     pytest

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
       # Only log in and push if not a pull request
      - name: Log in to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push multi-platform image
        uses: docker/build-push-action@v5
        if: github.event_name != 'pull_request'
        with:
          context: .
          push: true
          platforms: linux/amd64, linux/arm64
          tags: |
            ghcr.io/cerdamario13/${{ env.IMAGE_NAME }}:latest
            docker.io/cerdamario13/${{ env.IMAGE_NAME }}:latest